<section class="games">
  <article class="game-play">
      <h2>Pick A Game To Play</h2>
      <a href="../public/games/memory-match-game.html">
        <img alt="blackjack-logo" src="https://e7.pngegg.com/pngimages/803/775/png-clipart-baccarat-game-blackjack-logo-telephone-poker-chips-game-text.png">
      </a>

      <a href="../public/games/Blackjack.html">
        <img alt="memory-match-game-logo" src="https://image.pngaaa.com/673/3089673-small.png">
      </a>
  </article>
</section>

